body {
    margin: 0;
    padding: 0;
}


/*  */

#banner {
    background-image: linear-gradient(90deg, #0000009c, #0000009c), url(../images/bg5.jpg);
    height: 81vh;
    width: 100%;
    background-size: cover;
    color: white;
    /* backdrop-filter: blur(10px); */
    /* background: rgba(0, 0, 0, 0.699); */
}

#banner h1 {
    margin-top: 17%;
    font-size: 48px;
}

#banner span {
    font-size: 35px;
    color: #ff8c00;
    letter-spacing: -6px;
}

#banner p {
    color: #f0e68c;
    /* font-weight: 600; */
    letter-spacing: 3px;
}

.title-h1 {
    margin-top: 10%;
    font-weight: 600;
    color: #ed143d;
}

.title-h1::after {
    content: "";
    width: 285px;
    height: 2px;
    background-color: #ed143d;
    display: block;
    text-align: center;
    margin: auto;
    margin-bottom: 5%;
}


/* offers */

#imgs {
    margin-top: 3%;
    /* padding: 1%; */
}

#imgs:hover {
    transform: scale(1.05);
    transition: 0.8s ease-in-out;
    /* box-shadow: 7px 7px 11px -6px; */
    /* transition: 1s ease-in-out; */
}


/*  */

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

img {
    width: 100%;
    height: auto;
    padding: 5px;
}

h2 {
    text-align: center;
    padding-bottom: 1em;
}

.slick-dots {
    text-align: center;
    margin: 0 0 10px 0;
    padding: 0;
}

.slick-dots li {
    display: inline-block;
    margin-left: 4px;
    margin-right: 4px;
}

.slick-dots li button {
    font: 0/0 a;
    text-shadow: none;
    color: transparent;
    background-color: #999;
    border: none;
    width: 15px;
    height: 15px;
    border-radius: 50%;
}

.slick-active button {
    background-color: black;
}


/* Custom Arrow */

.prev {
    color: #999;
    position: absolute;
    top: 38%;
    left: -2em;
    font-size: 1.5em;
}

.next {
    color: #999;
    position: absolute;
    top: 38%;
    right: -2em;
    font-size: 1.5em;
}

@media screen and (max-width: 800px) {
    .next {
        display: none !important;
    }
}


/*  */

#card {
    margin: 2%;
    padding: 20px;
    border-radius: 40px;
    border-color: #000;
    box-shadow: 0px 0px 8px -3px;
    transition: 0.5s ease-in-out;
    /* border: 2px solid #000; */
    width: auto;
}

#card:hover {
    border-color: #000;
    transform: scale(1.01);
    transition: 1s;
    border: none;
    color: #d3d3d3;
    box-shadow: inset 0px -279px 0px 0px #383a3f, 0 0 20px rgb(0 0 0 / 40%);
}

@media only screen and (max-width: 650px) {
    #card {
        margin: 10%;
    }
    .title-h1 {
        font-size: 25px;
    }
    .title-h1::after {
        content: '';
        background: transparent;
    }
    #card {
        width: 70%;
    }
}

#card:hover .cst_img {
    transform: translate(0%, -24%);
    box-shadow: 4px 4px 7px 1px black;
    transition: 1s;
    border-radius: 71px 0px;
}

#card:hover .btn {
    color: yellowgreen;
}

#row-name p {
    padding: 16px;
    font-weight: 600;
    letter-spacing: 1px
}

#row-cate {
    margin-bottom: 10px;
}

#row-cate span {
    font-size: 15px;
    /*#ed143d; */
}

#row-rate span {
    font-weight: 600;
    letter-spacing: 1px;
    /*#8fbc8f; */
}

#row-type span {
    font-size: 17px;
    font-weight: 600;
    letter-spacing: 2px;
}

#row-type span::after {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background: #000;
    margin: auto;
}

.btn {
    width: 80%;
    line-height: 25px;
    margin-top: 1%;
}

.btn:hover {
    background-color: #f0f8ff;
    color: white;
}

#dis-none-css-in-home {
    display: none;
}

.cst_img {
    border-radius: 15px;
}


/* #chinese {
    BACKGROUND: #F9F3EF;
    background-image: linear-gradient(90deg, #000000d4, #000000d4), url(../images/bg1.jpg);
    background-size: cover;
} */

.mybtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: red;
    color: white;
    cursor: pointer;
    padding: 8px;
    border-radius: 4px;
}

.mybtn:hover {
    background-color: #555;
}


/*  */


/*  */


/*  */

@keyframes blink {
    0%,
    22%,
    36%,
    75% {
        color: #ffffff;
        text-shadow: 0 0 0.6rem #fcfcfc, 0 0 1.5rem #cacaca, -0.2rem 0.1rem 1rem #858585, 0.2rem 0.1rem 1rem #525252, 0 -0.5rem 2rem #2c2c2c, 0 0.5rem 3rem #000000;
    }
    28%,
    33% {
        color: #202020;
        text-shadow: none;
    }
    82%,
    97% {
        color: #000000;
        text-shadow: none;
    }
}

.flicker {
    animation: shine 1s forwards, blink 0.8s 2s infinite;
}

.fast-flicker {
    animation: shine 1s forwards, blink 15s 0.1s infinite;
}

@keyframes shine {
    0% {
        color: #000000;
        text-shadow: none;
    }
    100% {
        color: #ffe6ff;
        text-shadow: 0 0 0.6rem #ffffff, 0 0 1.5rem #d1d1d1, -0.2rem 0.1rem 1rem #979797, 0.2rem 0.1rem 1rem #777777, 0 -0.5rem 2rem #3a3a3a, 0 0.5rem 3rem #000000;
    }
}

@keyframes flicker {
    from {
        opacity: 1;
    }
    4% {
        opacity: 0.9;
    }
    6% {
        opacity: 0.85;
    }
    8% {
        opacity: 0.95;
    }
    10% {
        opacity: 0.9;
    }
    11% {
        opacity: 0.922;
    }
    12% {
        opacity: 0.9;
    }
    14% {
        opacity: 0.95;
    }
    16% {
        opacity: 0.98;
    }
    17% {
        opacity: 0.9;
    }
    19% {
        opacity: 0.93;
    }
    20% {
        opacity: 0.99;
    }
    24% {
        opacity: 1;
    }
    26% {
        opacity: 0.94;
    }
    28% {
        opacity: 0.98;
    }
    37% {
        opacity: 0.93;
    }
    38% {
        opacity: 0.5;
    }
    39% {
        opacity: 0.96;
    }
    42% {
        opacity: 1;
    }
    44% {
        opacity: 0.97;
    }
    46% {
        opacity: 0.94;
    }
    56% {
        opacity: 0.9;
    }
    58% {
        opacity: 0.9;
    }
    60% {
        opacity: 0.99;
    }
    68% {
        opacity: 1;
    }
    70% {
        opacity: 0.9;
    }
    72% {
        opacity: 0.95;
    }
    93% {
        opacity: 0.93;
    }
    95% {
        opacity: 0.95;
    }
    97% {
        opacity: 0.93;
    }
    to {
        opacity: 1;
    }
}


/* animation */

.animation-text-home {
    animation: anim-1 ease-in 1s;
}

.animation-p {
    animation: anim ease-in 2s;
}

@keyframes anim {
    0% {
        opacity: 0%;
    }
    100% {
        opacity: 100%;
    }
}

@keyframes anim-1 {
    0% {
        transform: scale(1.5);
    }
    100% {
        transform: scale(1);
    }
}