body {
    background-image: url(../images/bg15.jpg);
    background-size: cover;
}

.inner {
    padding-top: 13%;
}

.inner2 {
    padding: 45px;
    border-radius: 0px;
    border: 1px solid #000;
    box-shadow: 0px 0px 6px 2px black;
    margin-bottom: 10%;
    background: #ffffffc2;
    backdrop-filter: blur(6px);
}

.input {
    background: #0000;
    color: #6c6b6b;
    font-weight: 600;
    line-height: 27px;
    border: none;
    border-bottom: 1px solid #000;
}

.btn {
    display: block;
    width: 200px;
    margin: auto;
    margin-top: 5%;
    margin-bottom: 5%;
    border: none;
    border-radius: 15px;
    line-height: 35px;
    background: #C3A898;
    color: #5f1a1a;
    letter-spacing: 2px;
    font-weight: 600;
}

H1 {
    font-size: 24px;
    FONT-WEIGHT: 600;
    LETTER-SPACING: 12PX;
}

a {
    font-size: 13px;
    letter-spacing: 4px;
    font-weight: 600;
    color: #2f4f4f;
}

a:hover {
    text-decoration: none;
}

p {
    margin-bottom: 0;
    margin-top: 3%;
}