#banner {
    height: 100vh;
    background-image: linear-gradient(#000000a6, #000000a6), url(../images/bg5.jpg);
    background-size: cover;
}

#banner h1 {
    margin: 0;
    line-height: 91px;
    font-weight: 700;
    font-size: 52px;
    letter-spacing: 5px;
}

.title-row {
    backdrop-filter: blur(10px);
    color: #fff;
    text-transform: uppercase;
    background: #ffffff26;
}

#buttons h2 {
    color: #fff3;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 12px;
    font-size: 57px;
    font-family: fantasy;
}

#buttons {
    margin-top: 21%;
}

#buttons a {
    padding: 10px 40px 10px 40px;
    border-radius: 53px;
    border: 3px solid #fff;
    color: #fff;
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 12px;
}

#buttons a:hover {
    text-decoration: none;
    background: #ffffff9e;
    transition: 0.5s;
    border: 3px solid #adff2f;
}

#CreateAccount {
    background-image: url(../images/bg15.jpg);
    background-size: cover;
}


/*  */

.animation-h2 {
    animation: anim ease-in 3s;
}

@keyframes anim {
    0% {
        transform: scale(5);
    }
    100% {
        transform: scale(1);
    }
}

@media screen and (max-width: 520px) {
    .button-a {
        display: block !important;
        width: 70% !important;
        margin: auto !important;
        margin-top: 5% !important;
    }
}