#menu {
    background-color: #1F2124;
}

#menu-1 h1 {
    font-size: 30px;
    line-height: 80px;
    font-weight: 600;
    /* animation-name: NavLoad; */
}

#logo {
    background: #383A3F;
    color: #F6B352;
}

#menu p {
    margin: 0;
}

#menu p:hover {
    transition: 1s ease-in-out;
    cursor: context-menu;
    background: #a7a7a7;
}

#menu p,
a {
    line-height: 30px;
    color: #f0f8ff;
    font-weight: 600;
    letter-spacing: 2px;
}

#menu a:hover {
    text-decoration: none;
    color: #f0f8ff
}

.innermenu {
    background: #59646e;
}

#inner-menu {
    display: none;
    /* background-color: #bdb76b; */
}

#inner-menu p {
    margin: 0;
    line-height: 35px;
    margin-bottom: 1%;
}

#inner-menu p:hover {
    background-color: #F6B352;
    transition: 0.8s ease-in-out;
    border-radius: 52px;
}

#inner-menu a {
    color: white;
    font-weight: 600;
}

#inner-menu a:hover {
    text-decoration: none;
}

.span {
    color: #ffa500;
    font-size: 13px;
}


/* --------------------------------------------- */

.media_menu_icon {
    background-color: #1F2124;
    color: #ffa500;
    font-size: 25px;
}

#close_btn {
    background: black;
    border-radius: 23px;
    margin-bottom: 7%;
    margin-top: 7%;
}

#close_btn span {
    font-size: 12px;
    color: #ffffff;
    font-weight: 600;
    text-transform: uppercase;
    cursor: context-menu;
    line-height: 24px;
}


/* --------------------------------------------------- */


/* media querys */


/* screen > 815px */

@media only screen and (min-width: 815px) {
    .media_menu_icon {
        display: none;
    }
    .close-icon {
        display: none;
    }
    /* .animation-menu-logo {
        animation: NavLoad ease-in 0.5s;
    }
    .animation-inner-menu {
        animation: NavLoad ease-in 0.5s;
    } */
}


/* screen < 815px */

@media only screen and (max-width: 815px) {
    .media_menu_icon {
        display: revert;
    }
    .media_menu {
        display: none;
    }
}


/* end media query */


/* animations */

@keyframes NavLoad {
    0% {
        /* transform: translateY(-100%); */
        transform: translateY(-390%);
    }
    100% {
        transform: translateY(0);
    }
}


/* @keyframes forOpacity {
    0% {
        opacity: 0%;
    }
    100% {
        opacity: 100%;
    }
} */